body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    text-align: center;
    background-color: whitesmoke;
}

header {
    font-size: 38px;
    font-weight: 700;
}

#msg {
    font-size: 18px;
    font-weight: 800;
}

table {
    margin: auto;
    border-style: solid;
    border-spacing: 3px;
    background-color: aqua;
    position: relative;
}

table td {
    padding: 30px;
    position: relative;
}

#replay {
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
    background-color: green;
    padding: 5px;
}

.used {
    padding: 30px;
    background-color: green;
    border-radius: 50%;
    /* outline: green dotted 1px; */
}

.team1 {
    position: absolute;
    padding: 18px;
    background-color: rgb(119, 139, 0);
    border-radius: 50%;
}

.team2 {
    position: absolute;
    padding: 18px;
    background-color: limegreen;
    border-radius: 50%;
}