body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    text-align: center;
    background-color: whitesmoke;
}

header {
    font-size: 38px;
    font-weight: 700;
}

#msg {
    font-size: 18px;
    font-weight: 800;
}

table {
    width: 560px;
    height: 560px;
    margin: auto;
    border-style: solid;
    /* border-spacing: 3px; */
    background-color: aqua;
    /* position: relative; */
}

/* tr {
    height: 70px;
    width: 70px;
} */

table td {
    width: 70px;
    height: 70px;
    /* padding: 30px; */
    /* position: relative; */
}

#replay {
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
    background-color: green;
    padding: 5px;
}

.used {
    background-color: green;
    /* border-radius: 50%; */
    /* outline: yellow dotted 1px; */
}

.empty {
    /* styling for empty, usable square */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: yellow; */
    margin: -25px -25px;
    position: absolute;
}

.team1-piece {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(53, 63, 15);
    margin: -25px -25px;
    position: absolute;
}

.team2-piece {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: limegreen;
    margin: -25px -25px;
    position: absolute;
}

.team1-king {
    width: 50px;
    height: 50px;
    /* styling for team 1 piece */
    margin: -25px -25px;
    position: absolute;
}

.team2-king {
    width: 50px;
    height: 50px;
    /* styling for team 2 piece */
    margin: -25px -25px;
    position: absolute;
}